* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, sans-serif;
    color: black;
    background-color: white;
    line-height: 1.6;
  }

/* ファーストビュー */

  .first-view {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  .left {
    flex: 1;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .icon-circle {
    position: fixed;
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    background-color: yellow;
    color: black;
    border-radius: 50%; /* 正円にする */
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    width: 30vw;
    height: 30vh;
    max-width: 120px;
    max-height: 120px;
    margin-top: 10px;
    aspect-ratio: 1;
}
  .logo {
    width: 90%;
    margin-top: 45vh;
  }
  .menu {
    list-style: none;
    margin-top: 20px;
  }
  .menu li {
    margin-bottom: 5px;
    font-size: 18px;
  }
  .right {
    flex: 1 120px;
    background-color: red;
    overflow: hidden;
  }
  .firstviewimage {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

/* セクションボーダーシンボル */

  .section-symbol {
    width: 50px;
    height: 50px;
    margin: 100px auto 100px calc(50vw - 25px);
  }

/* ニュース */

  .section-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .news-item {
    display: flex;
    width: 650px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
  }
  .news-date, .news-type, .news-title {
    margin-right: 25px;
  }
  .news-type {
    background-color: gray;
    color: white;
    padding: 0 20px;
  }
  .news-arrow {
    display: flex;
    background-color: gray;
    color: white;
    font-size: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 0 0 auto;
  }
  .news-hr {
    width: 750px;
    margin: 15px auto;
  }

/* アバウトアス */

  .us-section {
    background-color: none;
    height: 810px;
  }
  .us-content {
    width: 600px;
    margin: 50px auto 0 50px;
    text-align: center;
    float: left;
  }
  .us-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .side-image1 {
    width: calc(50% - 350px);
    height: calc(100% - 159px);
    top: 0;
    left: 0;
    float: left;
    object-fit: cover;
  }
  .side-image2 {
    width: calc(50% - 350px);
    height: calc(100% - 159px);
    top: 0;
    right: 0;
    margin-left: 50px;
    float: left;
    object-fit: cover;
  }
  .us-sublinks {
    background-color: none;
    width: 100%;
    padding-top: 50px;
    display: flex; /* 横並びにする */
    gap: 50px; /* 長方形の間の間隔を設定 */
    justify-content: center; /* コンテナ内で中央揃え */
  }
  .us-ourworks {
    background-color: gray;
    color: white;
    text-align: center;
    height: auto;
    width: 250px;
  }
  .us-companyprofile {
    background-color: gray;
    color: white;
    text-align: center;
    height: auto;
    width: 250px;
  }

/* リクルート */

  .recruit-section {
    text-align: center;
    width: 1150px;
    margin: 0 auto;
  }
  .recruit-subtitle {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 40px 0 30px 0;
  }
  .recruit-hr {
    width: 100%;
    height: 1px;
    margin-top: 12px;
  }
  .recruit-subtitle div {
    width: 350px;
  }
  .recruit-itemarea {
    display: flex;
    gap: 50px;
    justify-content: center;
  }
  .recruit-item {
    background-color: gray;
    width: 350px;
    margin: 0px 0px;
    padding: 0px;
    display: flex;
    vertical-align: top;
  }
  .recruit-links {
    background-color: lightgray;
    width: 100%;
  }
  .recruit-links-thumbnail {
    width: 100%;
    height: 130px;
    margin-bottom: 15px;
    object-fit: cover;
  }
  .recruit-links li {
    list-style-type: none;
    text-align: justify;

  }
  .recruit-links-text {
    display: flex;
  }
  .recruit-links-komoku {
    text-align: left;
    width: 100px;
    margin: 0px 0px 5px 30px;
  }
  .recruit-links-info {
    text-align: left;
    width: 190px;
  }
  .recruit-links-more {
    display: flex;
    background-color: gray;
    color: white;
    width: 200px;
    height: 30px;
    margin: 5% auto;
    justify-content: center;
    align-items: center;
  }
  .recruit-oueworks {
    background-color: gray;
    color: white;
    margin: 70px auto 150px auto;
    text-align: center;
    height: auto;
    width: 250px;
  }

  /* フッター */

  .footer {
    background-color: black;
    width: 100%;
    height: 300px;
    padding: 60px;
    text-align: left;
    color: white;
  }
  .footer-logo {
    width: auto;
    height: 60px;
    margin-top: 60px;
  }
  
