* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  body {
    font-family: "Noto Serif JP", serif;
    color: black;
    background-color: white;
    line-height: 1.6;
  }
  @keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px); /* 左から50pxずれた位置から開始 */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* 最終位置は通常の位置 */
    }
}

  
  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover{
    opacity: 0.5; 
  }

  /* ヘッダー */

  .header_top {
    background-color: black;
    height: 40px;
  }

  /* ファーストビュー */

  .first-view {
    display: flex;
    height: calc(100vh - 40px);
    width: 100%;
  }
  .left {
    flex: 1;
    padding: 40px 60px 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .icon-circle {
    position: fixed;
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    background-color: rgb(11, 79, 62);
    color: white;
    border-radius: 50%; /* 正円にする */
    padding-top: 13px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    width: 30vw;
    height: 30vh;
    max-width: 120px;
    max-height: 120px;
    margin-top: 10px;
    aspect-ratio: 1;
    z-index: 2;
}
  .logo {
    width: 380px;
    margin-top: 20vh;
  }
  .logo_white {
    display: none;
  }
  .menu {
    list-style: none;
    margin-top: 20px;
    opacity: 0; /* 初期状態で非表示 */
    animation: fadeInFromLeft 1s ease-out forwards; /* アニメーション適用 */
  }
  .menu li {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  .companyname1 {
    font-size: 14px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
  }
  .companyname2 {
    font-size: 24px;
    font-family: "Noto Sans JP", sans-serif;
  }
  .companyname3 {
    font-size: 14px;
    margin-bottom: 4vh;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
  }
  .right {
    flex: 1 120px;
    overflow: hidden;
  }
  .firstviewimage {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

/* セクションボーダーシンボル */

  .section-symbol {
    width: 50px;
    height: 50px;
    margin: 100px auto 0px calc(50vw - 25px);
  }

/* ニュース */

  #news {
    padding-top: 100px;
  }
  .section-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .news-hr {
    width: 750px;
    margin: 15px auto;
  }
  .news-item {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    font-size: 14px;
  }
  .news-item-area {
    display: flex;
    width: 650px;
    height: auto;
  }
  .news-date, .news-type, .news-title {
    margin-right: 25px;
  }
  .news-type {
    background-color: gray;
    color: white;
    padding: 0 20px;
  }
  .news-arrow {
    display: flex;
    background-color: gray;
    color: white;
    font-size: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 0 0 auto;
  }

/* アバウトアス */

  #us-section {
    padding-top: 100px;
}
  .us-section {
    height: 900px;
  }
  .us-content {
    width: 600px;
    margin: 50px auto 0 50px;
    text-align: center;
    float: left;
  }
  .us-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .side-image1 {
    width: calc(50% - 350px);
    height: calc(100% - 159px);
    top: 0;
    left: 0;
    float: left;
    object-fit: cover;
  }
  .side-image2 {
    width: calc(50% - 350px);
    height: calc(100% - 159px);
    top: 0;
    right: 0;
    margin-left: 50px;
    float: left;
    object-fit: cover;
  }
  .us-sublinks {
    width: 100%;
    padding-top: 50px;
    display: flex; /* 横並びにする */
    gap: 50px; /* 長方形の間の間隔を設定 */
    justify-content: center; /* コンテナ内で中央揃え */
  }
  .us-ourworks {
    background-color: gray;
    color: white;
    text-align: center;
    height: auto;
    width: 250px;
  }
  .us-companyprofile {
    background-color: gray;
    color: white;
    text-align: center;
    height: auto;
    width: 250px;
  }

/* リクルート */

  #recruit-section {
    padding-top: 100px;
  }
  .recruit-section {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  .recruit-subtitle {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 40px 0 30px 0;
  }
  .recruit-hr {
    width: 100%;
    height: 1px;
    margin-top: 12px;
  }
  .recruit-subtitle div {
    width: 350px;
  }
  .recruit-itemarea {
    display: flex;
    gap: 2%;
    justify-content: center;
  }
  .recruit-item {
    background-color: gray;
    width: 32%;
    margin: 0px 0px;
    padding: 0px;
    display: flex;
    vertical-align: top;
  }
  .recruit-links {
    background-color: lightgray;
    width: 100%;
  }
  .recruit-links-thumbnail {
    width: 100%;
    height: 160px;
    margin-bottom: 15px;
    object-fit: cover;
  }
  .recruit-links-occupation {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .recruit-links-info-table {
    width: 95%;
    margin: 0% 2.5% 5px 2.5%;
    border-collapse: collapse;
    border: none;
  }
  .recruit-links-info-table td {
    vertical-align: top;
    border: none;
  }
  .recruit-links-info-table .col1 {
    width: 85px;
  }
  .recruit-links-more {
    display: flex;
    width: 100%;
    margin: 0% auto;
    justify-content: center;
    align-items: center;
  }
  .recruit-links-more-links {
    background-color: black;
    color: white;
    width: 90%;
    height: 35px;
    padding-top: 5px;
    margin: 0% auto 5% auto;
    padding-left: 20px;
  }
  .recruit-ourworks {
    margin: 70px auto 0px auto;
    width: 250px;
    display: block; 
  }
  .recruit-ourworks-links {
    background-color: gray;
    color: white;
    text-align: center;

    height: auto;
  }
  .recruit-ourworks a {
    display: block;
  }

  /* フッター */

  .footer {
    background-color: black;
    width: 100%;
    height: 450px;
    padding: 60px;
    margin-top: 150px;
    text-align: left;
    color: white;
  }
  .footer a:hover {
    opacity: 1;
  }
  .footer-logo {
    width: auto;
    height: 50px;
    margin-top: 10px;
  }
  .footer_lr {
    display: flex;
  }
  .footer_menu {
    width: 50%;
    color: white;
    list-style: none;
    margin-top: 40px;
  }
  .footer_menu li {
    margin-bottom: 5px;
    font-size: 16px;
  }
  .privacypolicy_link {
    margin-top: 20px;
  }
  .copyright {
    width: auto;
    margin: auto 0px 0px auto;
  }




  /* サブページ */





  /* ヘッダー */

  .header {
    background-color: black;
    width: 100%;
    height: 100px;
    padding: 25px 0px 0px 60px;
    margin: 0px 0px 90px 0px;
    text-align: left;
    color: white;
  }
  .header a:hover {
    opacity: 1;
  }
  .u-bonex_headerlogo {
    width: auto;
    height: 50px;
  }





  /* 会社概要 */

  .companyprofile {
    width: 800px;
    margin: 40px auto 0px auto;
  }
  .companyprofile_table {
    width: 100%;
    border-collapse: separate; /* セルの境界を重ならせない */
    border-top: 2px solid #d2d2d2; /* テーブルの上部に水平線を追加 */
  }
  .companyprofile_table td {
    padding: 8px;
    border: none;
    border-bottom: 2px solid #d2d2d2; /* 水平線のみ */
    padding: 20px 40px;
  }
  .companyprofile_table .col1 {
    font-weight: normal; /* 細字 */
  }
  .companyprofile_table .col2 {
    font-weight: bold; /* 太字 */
  }
  .col2_access {
    display: flex;
    font-weight: bold; /* 太字 */
  }
  .col2_access_link {
    display: flex;
    margin: auto 0px auto auto;
  }
  .col2_access_arrow {
    margin-right: 10px;
    display: flex;
    background-color: gray;
    color: white;
    font-size: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .col2_subtext {
    font-weight: normal; /* 細字 */
  }

  /* 沿革 */

  .section-enkaku {
    padding-top: 100px;
  }
  .enkaku_table {
    width: 800px;
    border-collapse: collapse;
    margin: 50px auto 0px auto;
  }
  .enkaku_table th, td {
    border: 1px solid #333; /* 細い1本線 */
    padding: 8px;
    text-align: left;
  }
  .col3 {
    background-color: #f0f0f0; /* 1列目の薄いグレー */
    width: 120px;
  }

  /* アクセス */

  #access-section {
    padding-top: 100px;
  }
  .map {
    width: 800px;
    height: 400px;
    margin: 50px auto 110px auto;
  }







  /* our works -ジュエリーができるまで */
  
  /* our works -U-BONEXの技術-*/

  .ourworks {
    background-color: red;
    width: 800px;
    height: 450px;
    margin: 40px auto 0px auto;
    display: none;
  }

  /* U-BONEXのものづくり */

  .section-monodukuri {
    padding-top: 100px;
  }
  .monodukuri {
    width: 800px;
    margin: 0px auto;
  }
  .monodukuri_images {
    display: flex;
    width: 100%;
    justify-content: space-between;  /* 各円を均等に配置 */
    align-items: center;   /* 中央に揃える */
  }
  .monodukuri_circle {
    width: 19%;                /* 円の横幅 */
    aspect-ratio: 1 / 1;         /* 縦横比を1:1に設定 */
    border-radius: 50%;   /* 丸めて正円に */ 
    overflow: hidden;
}
  .monodukuri_circle img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
  .monodukuri_text {
    width: 600px;
    margin: 40px auto 0px auto;
    text-align: center;
}

  /* ジュエリーができるまで */

  .section-howmade {
    padding-top: 100px;
  }
  .howmade {
    width: 800px;
    margin: 0px auto;
  }
  .howmade_chart {
    position: relative;
    display: flex;
    width: 100%;
    height: calc(800px * 0.12);
  }
  .howmade_chart hr {
    position: relative;
    background-color: gray;
    width: 90%;
    height: 5px;
    margin: auto;
  }
  .howmade_chart_circle {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;  /* 各円を均等に配置 */
    align-items: center;   /* 中央に揃える */
  }
  .howmade_chart_circlechild {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center; 
    width: 12%;                /* 円の横幅 */
    aspect-ratio: 1 / 1;         /* 縦横比を1:1に設定 */
    background-color: #9fd5fa;   /* 色 */
    border-radius: 50%;   /* 丸めて正円に */ 
    font-weight: bold;
    font-size: 20px;
  }
  .howmade_chart_circlechild_finishing {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center; 
    width: 12%;                /* 円の横幅 */
    aspect-ratio: 1 / 1;         /* 縦横比を1:1に設定 */
    background-color: #9fd5fa;   /* 色 */
    border-radius: 50%;   /* 丸めて正円に */ 
    font-weight: bold;
    font-size: 15px;
  }
  .howmade_text {
    width: 600px;
    margin: 40px auto 90px auto;
    text-align: center;
  }
  .howmade_part {
    width: 800px;
    margin: 0px auto;
  }
  .howmade_part_colum {
    width: 100%;
    height: 168px;
    margin-bottom: 40px;
    display: flex;
  }
  .howmade_part_video {
    background-color: lightgray;
    width: 300px;
    height: 100%;
  }
  .howmade_part_video img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .howmade_part_text {
    width: 500px;
    height: 100%;
    text-align: justify;
  }
  .howmade_part_text hr {
    height: 3px;
    background-color: black;
  }
  .howmade_part_title {
    width: 500px;
    height: 50px;
    padding: 10px 60px;
    font-size: 20px;
    font-weight: bold;
  }
  .howmade_part_info {
    width: 100%;
    height: 115px;
    padding: 10px 0px 0px 60px;
  }

  /* U-BONEXが扱う素材 */

  .section-material {
    padding-top: 100px;
  }
  .material {
    width: 800px;
    margin: 0px auto;
  }
  .material_images {
    display: flex;
    width: 100%;
    justify-content: space-between;  /* 各円を均等に配置 */
    align-items: center;   /* 中央に揃える */
  }
  .material_circle {
    width: 24%;                /* 円の横幅 */
    aspect-ratio: 1 / 1;         /* 縦横比を1:1に設定 */
    border-radius: 50%;   /* 丸めて正円に */ 
    overflow: hidden;
}
  .material_circle img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
  .material_text {
    width: 600px;
    margin: 40px auto 0px auto;
    text-align: center;
}










/* プライバシーポリシー */

.privacypolicy {
  width: 800px;
  margin: 40px auto 0px auto;
}
.privacypolicy_end {
  text-align: right;
}









/* 幅960px以下のデバイス対応 */
@media screen and (max-width: 960px) {





/* ヘッダー */

  .header_top {
    display: none;
  }


/* ファーストビュー */

  .left {
    position: relative;
    padding: 20px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
  }
  .icon-circle {
    position: fixed;
    display: none; /* フレックスボックスを使用 */
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    background-color: yellow;
    color: black;
    border-radius: 50%; /* 正円にする */
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    width: 30vw;
    height: 30vh;
    max-width: 120px;
    max-height: 120px;
    margin-top: 10px;
    aspect-ratio: 1;
    z-index: 2;
}
  .logo {
    display: none;
  }
  .logo_white {
    display: block;
    width: 60%;
    margin: auto 20%;
  }
  .menu {
    display: none;
    list-style: none;
    margin-top: 20px;
  }
  .menu li {
    margin-bottom: 5px;
    font-size: 18px;
  }
  .right {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
    filter: brightness(30%); /* 画像の明るさを50%に設定して暗くする */
  }
  .firstviewimage {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .recruit-links-more-links {
    width: 100%;
  }

  /* プライバシーポリシー */

.privacypolicy {
  width: 90%;
}

  
  
  





  


}





/* 幅800px以下のデバイス対応 */
@media screen and (max-width: 800px) {


/* リクルート */

  .recruit-itemarea {
    display: block;
  }
  .recruit-item {
    width: 100%;
    margin-bottom: 30px;
    vertical-align: top;
  }

  /* フッター */

  .footer {
    height: 470px;
  }
  .footer-logo {
    width: auto;
    margin-top: 10px;
  }
  .footer_lr {
    display: block;
  }
  .footer_menu {
    width: 100%;
  }
  .copyright {
    width: 100%;
    margin: 20px 0px 0px auto;
  }







/* 会社概要 */

.companyprofile {
  width: 100vw;
}
.companyprofile_table .col1 {
  font-weight: normal; /* 細字 */
  white-space: nowrap;   /* テキストを1行に制限（オプション） */
}
.col2_access {
  display: flex;
  font-weight: bold; /* 太字 */
}
.col2_access_link {
  display: flex;
  margin: auto 0px auto auto;
  white-space: nowrap;   /* テキストを1行に制限（オプション） */
}
.col2_access_arrow {
  margin-right: 10px;
  display: flex;
  background-color: gray;
  color: white;
  font-size: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.col2_subtext {
  font-weight: normal; /* 細字 */
}

/* 沿革 */

.section-enkaku {
  padding-top: 100px;
}
.enkaku_table {
  width: 90%;
}

/* アクセス */

#access-section {
  padding-top: 100px;
}
.map {
  width: 100%;
  height: 400px;
  margin: 50px auto 110px auto;
}






/* our works -ジュエリーができるまで */

  /* U-BONEXのものづくり */

  .monodukuri {
    width: 90%;
  }
  .monodukuri_text {
    width: 80%;
}

  /* ジュエリーができるまで */

  .howmade {
    width: 90%;
  }
  .howmade_text {
    width: 80%;
  }
  .howmade_part {
    width: 100%;
  }
  .howmade_part_colum {
    width: 100%;
    height: 50%;
  }
  .howmade_part_video {
    width: 30%;
    height: 27vw;
  }
  .howmade_part_text {
    width: 70%;
    height: 100%;
  }
  .howmade_part_title {
    width: 100%;
  }
  .howmade_part_info {
    width: 100%;
    height: 100%;
  }

  /* U-BONEXが扱う素材 */

  .section-material {
    padding-top: 100px;
  }
  .material {
    width: 90%;
    margin: 0px auto;
  }
  .material_images {
    display: flex;
    width: 100%;
    justify-content: space-between;  /* 各円を均等に配置 */
    align-items: center;   /* 中央に揃える */
  }
  .material_circle {
    width: 24%;                /* 円の横幅 */
    aspect-ratio: 1 / 1;         /* 縦横比を1:1に設定 */
    background-color: red;   /* 色 */
    border-radius: 50%;   /* 丸めて正円に */ 
}
  .material_text {
    width: 80%;
    margin: 40px auto 0px auto;
    text-align: center;
}
}





  /* 幅750px以下のデバイス対応 */
@media screen and (max-width: 750px) {







/* ニュース */

  .news-hr {
    width: 100vw;
  }
  .news-item {
    width: 85%;
  }
  .news-item-area {
    width: 100%;
  }
  .news-date, .news-type, .news-title {
    white-space: nowrap;   /* テキストを1行に制限（オプション） */
  }
  .news-title {
    overflow: hidden;      /* はみ出たテキストを非表示 */
    white-space: nowrap;   /* テキストを1行に制限（オプション） */
    text-overflow: ellipsis; /* はみ出た部分に「...」を追加（オプション） */
    text-align: justify;
  }

/* アバウトアス */

.us-section {
  height: auto;
}
.side-image1, .side-image2 {
  display: none;
}
.us-content {
  width: 80%;
  float: none;
  margin: 50px auto 0px auto;
}


}









/* 幅428px以下のデバイス対応 */
@media screen and (max-width: 428px) {








  /* 会社概要 */

.col2_access_link {
  display: none;
}

}